---
import Features from '../components/home/Features.astro';
import Hero from '../components/home/Hero.astro';
import Languages from '../components/home/Languages.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aprende de manera interactiva">
	<main class="main">
		<Hero />
		<Features />
		<Languages />
	</main>
</Layout>

<style>
	.main {
		position: relative;
	}
</style>