<section class="languages" id="lenguajes">
  <div class="languages-container">
    <div class="languages__wrapped">
      <h2 class="languages__title">Principales lenguajes web</h2>
      <p class="languages__paragraph">
        Aprende los tres lenguajes de la web a través de ejemplos dinámicos y prácticos.
      </p>
    </div>
    <swiper-container class="languages__list" effect="cards" grab-cursor="true">
      <swiper-slide
        ><article class="language">
          <header class="language__header" style="--from-linear: #e34f2682; --to-linear: rgb(239 101 42 / 0%)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 452 520"
              width="80"
              class="language__logo"
            >
              <path fill="#e34f26" d="M41 460L0 0h451l-41 460-185 52"></path>
              <path fill="#ef652a" d="M226 472l149-41 35-394H226"></path>
              <path
                fill="#ecedee"
                d="M226 208h-75l-5-58h80V94H84l15 171h127zm0 147l-64-17-4-45h-56l7 89 117 32z"
              ></path>
              <path
                fill="#fff"
                d="M226 265h69l-7 73-62 17v59l115-32 16-174H226zm0-171v56h136l5-56z"
              ></path>
            </svg>
          </header>
          <div class="language__main">
            <h3 class="language__title">HTML</h3>
            <p class="language__description">
              Aprende a escribir HTML semántico de manera didactica mediante
              páginas, con cada etiqueta explicada y sus casos de uso prácticos.
            </p>
          </div>
          <footer class="language__footer">
            <a href="/" class="language__link"
              >Entrar a la documentación dinámica <svg
                xmlns="http://www.w3.org/2000/svg"
                class="language__icon"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                ></path></svg
              ></a
            >
          </footer>
        </article></swiper-slide
      >
      <swiper-slide
        ><article class="language" style="--from-linear: #0c73b85c; --to-linear: rgb(48 169 220 / 0%)">
          <header class="language__header">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 452 520"
              class="language__logo"
              width="80"
            >
              <path fill="#0c73b8" d="M41 460L0 0h451l-41 460-185 52"></path>
              <path fill="#30a9dc" d="M226 472l149-41 35-394H226"></path>
              <path
                fill="#ecedee"
                d="M226 208H94l5 57h127zm0-114H84l5 56h137zm0 261l-124-33 7 60 117 32z"
              ></path>
              <path
                fill="#fff"
                d="M226 265h69l-7 73-62 17v59l115-32 26-288H226v56h80l-6 58h-74z"
              ></path>
            </svg>
          </header>
          <div class="language__main">
            <h3 class="language__title">CSS</h3>
            <p class="language__description">
              Aprende a utilizar CSS con buenas prácticas y con las últimas
              características del lenguaje. Podrás ver casos de uso de las
              propiedades y como lo puedes emplear en tu día a día como
              programador.
            </p>
          </div>
          <footer class="language__footer">
            <a href="/" class="language__link"
              >Entrar a la documentación dinámica <svg
                xmlns="http://www.w3.org/2000/svg"
                class="language__icon"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                ></path></svg
              ></a
            >
          </footer>
        </article></swiper-slide
      >
      <swiper-slide
        ><article class="language" style="--from-linear: #f0da4fb0; --to-linear: rgb(240 219 79 / 0%)">
          <header class="language__header">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="90"
              class="language__logo"
              viewBox="0 0 1052 1052"
              ><path fill="#f0db4f" d="M0 0h1052v1052H0z"></path><path
                d="M965.9 801.1c-7.7-48-39-88.3-131.7-125.9-32.2-14.8-68.1-25.399-78.8-49.8-3.8-14.2-4.3-22.2-1.9-30.8 6.9-27.9 40.2-36.6 66.6-28.6 17 5.7 33.1 18.801 42.8 39.7 45.4-29.399 45.3-29.2 77-49.399-11.6-18-17.8-26.301-25.4-34-27.3-30.5-64.5-46.2-124-45-10.3 1.3-20.699 2.699-31 4-29.699 7.5-58 23.1-74.6 44-49.8 56.5-35.6 155.399 25 196.1 59.7 44.8 147.4 55 158.6 96.9 10.9 51.3-37.699 67.899-86 62-35.6-7.4-55.399-25.5-76.8-58.4-39.399 22.8-39.399 22.8-79.899 46.1 9.6 21 19.699 30.5 35.8 48.7 76.2 77.3 266.899 73.5 301.1-43.5 1.399-4.001 10.6-30.801 3.199-72.101zm-394-317.6h-98.4c0 85-.399 169.4-.399 254.4 0 54.1 2.8 103.7-6 118.9-14.4 29.899-51.7 26.2-68.7 20.399-17.3-8.5-26.1-20.6-36.3-37.699-2.8-4.9-4.9-8.7-5.601-9-26.699 16.3-53.3 32.699-80 49 13.301 27.3 32.9 51 58 66.399 37.5 22.5 87.9 29.4 140.601 17.3 34.3-10 63.899-30.699 79.399-62.199 22.4-41.3 17.6-91.3 17.4-146.6.5-90.2 0-180.4 0-270.9z"
                fill="#323330"></path></svg
            >
          </header>
          <div class="language__main">
            <h3 class="language__title">Javascript</h3>
            <p class="language__description">
              Aprende a utilizar Javascript junto a la API del DOM mediante
              ejemplos didácticos. Asimismo como conectarlo con un backend y
              llevar a tus aplicaciones al siguiente nivel.
            </p>
          </div>
          <footer class="language__footer">
            <a href="/" class="language__link"
              >Entrar a la documentación dinámica <svg
                xmlns="http://www.w3.org/2000/svg"
                class="language__icon"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                ></path></svg
              ></a
            >
          </footer>
        </article></swiper-slide
      >
    </swiper-container>
  </div>
</section>

<style>
  .languages {
    width: 100%;

    &-container {
      width: min(100%, 768px);
      box-sizing: border-box;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2rem 5rem;
      /* padding: 1rem 0; */
      padding: 0 2rem;
      @media (width >= 768px) {
        flex-direction: row;
      } 
    }

    &__wrapped {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &__title {
      margin: 0;
      font-size: 1.75rem;
    }

    &__paragraph {
      margin: 0;
      width: 30ch;
    }

    &__list {
      width: min(calc(0.0625rem * 320), 70%);
    }
  }

  .language {
    background-color: #000000;
    border: calc(0.0625rem) solid #a3a3a3;
    border-radius: 0.25rem;
    padding: 1rem;
    min-height: 24rem;
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        background-image: radial-gradient(
          ellipse 34% 50% at 50% 46%,
          var(--from-linear),
          var(--to-linear)
        );
      }
    }

    &__logo {
      z-index: 2;
    }

    &__main {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__footer {
      margin: 0.5rem 0;
    }

    &__title {
      margin: 0;
      text-wrap: balance;
      text-align: center;
    }
    &__description {
      margin: 0;
      text-wrap: pretty;
      font-size: 0.925rem;
    }
    &__link {
      text-decoration: none;
      font-size: 0.85rem;
      display: flex;
      gap: 0.1rem;
      color: #C9AD8B;
      font-weight: 600;

      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: calc(0.0625rem * 2);
        background-color: #7889f5;
        width: 0;
        transition: width 0.25s ease;
      }

      &:hover  {
        &::before {
          width: 83.5%;
        }
      }
    }
    &__icon {
      width: 1rem;
    }
  }
</style>

<script
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>
